@tailwind base;
@tailwind components;
@tailwind utilities;


.text-error {
  position: relative;
  bottom: 20px;
  color: #fb6340;
}

:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #16a34a;
  --on-background: #504231;
  --on-surface: #504231;
  --on-primary: #504231;
  --on-secondary: #ffffff;
  --background: #f9fafb;
  --surface: #f3f4f6;
  --border-color: #ddd;
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #86efac;
  --on-background: #504231;
  --on-surface: #504231;
  --on-primary: #504231;
  --on-secondary: #1f2937;
  --background: #1f2937;
  --surface: #4b5563;
  --border-color: #0d2538;
}

.sepia-mode {
  --color: #433422;
  --background: #f1e7d0;
  --surface: #f1e7d0;
  --color-secondary: #504231;
  --on-background: #504231;
  --on-surface: #504231;
  --on-primary: #504231;
  --on-secondary: #504231;
  --border-color: #ded0bf;
}

.fill-color {
  filter: invert(30%) sepia(96%) saturate(6927%) hue-rotate(355deg) brightness(98%) contrast(120%);
}

/* home route and active route will show in bold as it matches / and /about */
a.nuxt-link-active {
  font-weight: bold;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

/* exact link will show the primary color for only the exact matching link */
a.nuxt-link-exact-active {
  color: #00c58e;
}
